* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Main Page Layout */

#main-content {
  margin: 100px 425px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

/* Portfolio Header */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-basis: 50%;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
}


/* About Section */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}


/* Project Section */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

    /* Project Cards */

    /* .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 20px;
    } */

    .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 5px; /* Add rounded corners */
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3); /* Add drop shadow */
      overflow: hidden; /* Clip content to fit within the rounded corners */
      padding: 16px; /* Add padding to create space around the text */
      /* cursor: pointer; */
    }
    
    .project-card-text-container {
      display: flex;
      flex-direction: column;
      gap: 8px; /* Adjust the gap value to control spacing between text elements */
    }

    .project-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }




/* Project Pages */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  height: auto;
}

#project-details {
  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
}

.project-details-content {
  display: flex;
  flex-direction: column;
  /*gap: 34px;*/
}

    /* Project Gallery */

    #project-gallery {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .project-gallery-content {
      display: flex;
      flex-wrap: wrap;
      gap: 34px 16px;
    }

    .gallery-image-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .gallery-image-container.half-width {
      width: calc((100% - 16px) / 2);
    }

    .gallery-image {
      width: 100%;
      height: auto;
    }


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  #main-content {
    margin: 150px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  #main-content {
    margin: 150px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  #main-content {
    margin: 150px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  #main-content {
    margin: 150px 50px;
  }

  #portfolio-header {
    flex-direction: column;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  #main-content {
    margin: 125px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}

/* highlight JS Line Numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}